<h1>Artworks#edit</h1>
<p>Find me in app/views/artworks/edit.html.erb</p>
<%= form_for(:artwork, :url =>{:action =>'update',:id=> @artwork.id,:subject_id => @subject.id}) do |f|%>
<%=f.text_field(:name)%>
<%=f.hidden_field(:subject_id)%>
<p>Modifier l'image</p>
<%=f.file_field :image%>
<div><%=image_tag @artwork.image.url(:thumb).to_s%></div>
<%= f.submit(:envoyer)%>
<%end%>