
<br/>

<% if !flash[:notice].blank? %>
<div class "notive">
  <%= flash[:notice]%>
</div>
<%end%>

<p><%= link_to('Participe au défis!', {:action=> 'new', :subject_id => @subject.id}) %></p>

<table>
<tr>
<th>Theme du jour</th>

</tr>

<tr>
	<th>name</th>
	<th>Image</th>
	<th>actions</th>


</tr>
<%@artwork.each do |a|%>
<tr>
	<td><%=a.name%></td>
	<td><%=image_tag a.image.url(:thumb).to_s%></td>
	

<td colspan='3'><%= link_to "voir", :action => "show" ,:id=> a.id,:subject_id=>a.subject_id %>
<%= link_to "editer", :action => "edit" ,:id=> a.id,:subject_id=>a.subject_id %>
<%= link_to "delete", :action => "delete" ,:id=> a.id,:subject_id=>a.subject_id %></td>
</tr>
<%end%>
</table>

