<%= form_for(:artwork, :url =>{:action =>'create',:subject_id => @subject.id,:artriver_user_id =>@user.id},:html => {:multipart => true}) do |f|%>

<%= f.label(:name, "Name") %>
<%=f.text_field(:name)%>
<br>
<%=f.hidden_field(:subject_id)%>
<%=f.hidden_field(:artriver_user_id)%>
<%=f.file_field :image%>
<br><br>
<div><%= f.submit(:envoyer)%></div>

<%end%>





