

<%= form_tag(:action => "tentative_log") do %>


<table class="table_artwork">
<tr>
<td><%=label_tag(:name)%></td>
<td><%=text_field_tag(:name)%></td>
<tr>
<td><%=label_tag(:password)%></td>
<td><%=password_field_tag(:password)%></td>
</tr>
<tr>

<td>&nbsp;</td>
<td><%=submit_tag('Log In')%></td>
</tr>


</tr>





</table>


  
<% end -%>