



<p><%= link_to "new user", :action => "new"%></p>

<table>

<tr>
<th>id</th>
<th>name</th>

<th>show</th>
<th>edit</th>
<th>delete</th>

</tr>


<%@user.each do |a|%>
<tr>

<td><%=a.id%></td>
<td><%=a.name%></td>

<td><%= link_to "show", :action => "show", :id=> a.id %></td>
<td><%= link_to "edit", :action => "edit", :id=> a.id %></td>
<td><%= link_to "delete", :action => "delete", :id=> a.id %></td>


</tr>
<% end -%>



</table>
