<!DOCTYPE html>
<html>
<head>
  <title>ArtriverDaily_beta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>

	<div><img src="./assets/logo-artriver.png"></div>

<%= link_to "Nous rejoindre", :controller => "artriver_users", :action => "new" %><span>&nbsp;</span>
<%= link_to "Se connecter", :controller => "access", :action => "login" %>
</div>
<br>

<%= yield %>

</body>
</html>
